@import "../../css/global.scss";

.new-event__close-btn{
  position: absolute;
  right: 2rem;
  top: 2rem;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: $color__grey;
  &:hover{
    color: $color__red;
  }
}

.new-event__title {
  color: $color__primary;
  text-align: center;
  padding: 20px;
}