@import '../../css/global.scss';

footer{
    display: flex;
    justify-content: center;
    align-items: center;
 
    height: $footer__height;
    background-color: rgba($color__black, $opacity__low);
    color: $color__light;
    font-size: 0.7rem;  
    
    a{
        color: $color__primary;

        &:hover{
            color: $color__grey;
        }
    }
}