@import '../../css/global.scss';

.form-input__box{
    height: 2.5rem;
    border-radius: $border__radius;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    i{
        color: $color__white;
        padding: 0 10px 0 5px;
    }

    & label{
        color:$color__white;
        align-self: flex-end;
        margin-right: 1rem;

    }
}

.form-input_{
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid $color__white;
    background-color: transparent;
    &:focus{
        outline: none;
    }
    &::placeholder{
        color:$color__light;
    }
}
